*{
    margin: 0;
    padding: 0%
}

.menu{
    width: 100%;
    height: 50px;
    background-color: rgb(5, 5, 5);
}

.menu ul{
    list-style: none;
    position: relative;
}

.menu ul li{
    width: 150px;
    float: right;
}

.menu a{
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    background-color: rgb(5, 5, 5);
    color: #fff;

}

.menu ul ul{
    position: absolute;
    visibility: hidden;
}

.menu ul li:hover ul{
    visibility: visible;
}

.menu a:hover{
    background-color: #ffffff;
    color: #555;
}

.menu ul ul li{
    float: none;
    border-bottom: solid 1px #ccc;
}

.menu ul ul li a{
    background-color: rgb(5, 5, 5);
}

.fotodecapa {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 727px;
    height: 518px;
}